* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #fff;
  background-color: navy;
  text-align: center;
  padding: 25px;
}

.container {
  margin: 25% auto;
  border: 2px solid #000;
  width: 50%;
  height: 10em;
}

.generator {
  text-align: center;
  padding: 3em;
}